.main {
  border: 1px solid rgba(0, 0, 0, 0.192);
  position: relative;
  height: 30rem;
  top: 10rem;
}

.main h1 {
  text-align: center;
}

.bt {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  margin: auto;
  width: 10rem;
}
